<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>

<body>
    <h1>Edit product</h1>
    <form action=<%=`/products/${curProduct._id}?_method=PUT`%> method="POST">
        <div>
            <label for="name">Enter Product Name: </label>
            <input type="text" name="name" id="name" value="<%= curProduct.name %> ">
        </div>
        <div>
            <label for="price">Enter Price: </label>
            <input type="number" name="price" id="price" step="0.01" value="<%=curProduct.price%>">
        </div>
        <div>
            <label for="category">Select category: </label>
            <select name="category" id="category">
                <% for (let category of categories) { %>
                    <option value="<%=category%>" <%=curProduct.category===category ? 'selected' : '' %>>
                        <%=category%>
                    </option>
                    <% } %>
            </select>
        </div>
        <button>Submit</button>
    </form>
    <a href="/products/<%=curProduct._id%> ">Back</a>
</body>

</html>