<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <div id="map" class="map-index"></div>
    <% for (let campground of campgrounds){%>
        <div class="card mb-2 mt-2">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                </div>
                <div class="col-12 col-lg-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location%>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View
                            <%=campground.title%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
            <script>
                const campgrounds = JSON.parse('<%-JSON.stringify(campgrounds)%>');
                console.log('campgrounds', campgrounds);
            </script>
            <script src="/javascripts/clusterMap.js"></script>