<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>
    <div class="container">
        <% let pageIndex=0; %>
            <% for (let campground of campgrounds) { %>
                <% if (pageIndex % 3===0) { %>
                    <div class="row">
                        <% } %>
                            <div class="col-4 card mt-1 mb-1" style="max-width: 27rem; display: inline-block">
                                <img src="<%= campground.image %>" class="card-img-top mt-2"
                                    alt="<%= campground.image %>">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=campground.title%>
                                    </h5>
                                    <p class="card-text">
                                        <%=campground.description%>
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            <%=campground.location%>
                                        </small>
                                    </p>
                                    <a class="btn btn-primary" href="<%=`/campgrounds/${campground._id}`%>">
                                        <%=campground.title%>
                                    </a>
                                </div>
                            </div>
                            <% if (pageIndex % 3===2) { %>
                    </div>
                    <% } %>
                        <% pageIndex+=1 %>
                            <% } %>
    </div>