<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <div id="map" class="map-index"></div>
    <% for (let campground of campgrounds){%>
        <div class="card mb-2 mt-2">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                </div>
                <div class="col-12 col-lg-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location%>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View
                            <%=campground.title%>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <% }%>
            <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
                </script>
            <script src="/javascripts/clusterMap.js"></script>
            <script>
                var campgrounds = null;
                const fetchCampgrounds = async function () {
                    campgrounds = await $.ajax({
                        url: '/campgrounds?datatype=JSON',
                        type: 'GET',
                        // success: function (result) {
                        //     console.log("obtained result: ", result);
                        // },
                        // error: function (xhr, status, error) {
                        //     console.log("obtained error: ", error);
                        // }
                    })
                }

                fetchCampgrounds().then(() => {
                    loadMap();
                }).catch(() => {
                    console.log("Could not load map");
                });

            </script>