<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Edit Campground</h1>
            <div class="col-lg-6 offset-lg-3">
                <form action="<%=`/campgrounds/${campground._id}?_method=PUT`%>" method="POST" class="needs-validation"
                    novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="campground[title]" id="title"
                            value="<%=campground.title%>" required>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" name="campground[location]" id="location"
                            value="<%=campground.location%>" required>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="text" class="form-control" name="campground[image]" id="image"
                            value="<%=campground.image%>" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" step="0.01" class="form-control" id="price" name="campground[price]"
                                value="<%=campground.price%>" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" name="campground[description]" id="description"
                            required><%=campground.description%></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-outline-info">Edit Campground</button>
                    </div>
                    <footer>
                        <a href="<%=`/campgrounds/${campground._id}`%>">Cancel</a>
                    </footer>
                </form>
            </div>
        </div>
    </div>