<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/styles/showCampground.css">
    <link rel="stylesheet" href="/styles/starability.css">
    <div class="container mb-3">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="col-auto col-lg-8">
                    <h1>
                        <%=campground.title%>
                    </h1>
                </div>
                <div class="col-auto col-lg-8">
                    <h2>
                        <%=campground.location%>
                    </h2>
                </div>
                <div class="col-auto col-lg-8">
                    <p class="text-muted">
                        Submitted by: <%=campground.author.username.charAt(0).toUpperCase() +
                            campground.author.username.slice(1);%>
                    </p>
                </div>
                <div class="col-auto col-lg-8">
                    <img src="<%= campground.image %>" alt="" style="width: 100%;">
                </div>
                <div class="col-auto col-lg-8 mt-2">
                    <p>
                        <%= campground.description %>
                    </p>
                </div>
                <div class="col-auto col-lg-8 mt-2">
                    <p>
                        $<%= campground.price %>/night
                    </p>
                </div>
                <% if (currentUser && campground && currentUser.username==campground.author.username) { %>
                    <footer class="row mb-2">
                        <div class="col-auto col-md-4 mt-2">
                            <a class="btn btn-outline-warning" href="<%=`/campgrounds/${campground._id}/edit`%>">Edit
                                Campground</a>
                        </div>
                        <div class="col-auto col-md-4 mt-2">
                            <form action="<%=`/campgrounds/${campground._id}?_method=DELETE`%>" method="POST">
                                <button class="btn btn-outline-danger">Delete Campground</button>
                            </form>
                        </div>
                    </footer>
                    <% } %>
            </div>
            <div class="col-12 col-lg-4 pt-3" id="vertical-line">
                <% if (currentUser) { %>
                    <div class="col horizontal-line">
                        <h2>Leave a Review</h2>
                    </div>
                    <form class="col needs-validation" action="/campgrounds/<%= campground._id %>/reviews" method="POST"
                        novalidate>
                        <div class="mb-0" style="height: 40px;">
                            <!-- <label class="form-label" for="rating">Rating</label>
                            <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating"> -->
                            <fieldset class="starability-basic mb-0">
                                <!-- <legend>First rating:</legend> -->
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                    checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="body">Review</label>
                            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                                required></textarea>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-outline-success" type="submit">Submit</button>
                        </div>
                    </form>
                    <% } %>
                        <div class="col horizontal-line">
                            <h2>User Reviews</h2>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <% for(let review of campground.reviews) { %>
                                    <div class="card m-2">
                                        <!-- <h5 class="card-header">
                                            <p class="starability-result mb-0" data-rating="<%= review.rating %>">
                                                Rated: <%= review.rating %> Stars
                                            </p>
                                        </h5> -->
                                        <div class="card-body">
                                            <p class="starability-result mb-2" data-rating="<%= review.rating %>">
                                                Rated: <%= review.rating %> Stars
                                            </p>
                                            <h6 class="card-subtitle mb-2 text-muted">
                                                <%= review.author.username.charAt(0).toUpperCase() +
                                                    review.author.username.slice(1); %>
                                            </h6>
                                            <p class="card-text">
                                                <%= review.body %>
                                            </p>
                                            <% if (currentUser && review.author &&
                                                currentUser.username==review.author.username) { %>
                                                <form
                                                    action="<%=`/campgrounds/${campground._id}/reviews/${review._id}?_method=DELETE`%>"
                                                    method="POST">
                                                    <button class="btn btn-sm btn-outline-danger">Delete</button>
                                                </form>
                                                <% } %>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <% if (!currentUser) { %>
                            <div class="col mt-3">
                                <h5 class="pl-2 text-muted">Login to leave a Review</h3>
                            </div>
                            <% } %>
            </div>
        </div>
    </div>